@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&family=BIZ+UDPMincho&display=swap');

$fontMain: 'BIZ UDGothic', sans-serif;
$fontSecondary: 'BIZ UDPMincho', serif;

$textXl: 4em;
$textLg: 3em;
$textMd: 1.5em;
$textSm: 0.8em;
$textXs: 0.5em;